* {
	text-align: center;
}

table, thead, th, td {
	border: solid black;
	border-spacing: 0px;
	border-width: 1px;
	text-align: center;
}

.muse {
	background-color: #FBAED2;
}

.aqours {
	background-color: #ACE5EE;
}